semanticdb
cache
.*
!.gitignore
*.elc
*~
elpa/
auto-save-list/
emms/
helm-adaptive-history
irony/
magithub/
network-security.data
places
projectile-bookmarks.eld
projectile.cache
recentf
request/
semanticdb/
sent
tramp
transient/
url/
var/